

@media all {
        #wrapper{
        margin:auto;
        margin-left:15%;
        width:80%;
        max-width: 945px;
        position: relative;
    }
    
    body {
       font-size: 1em; 
       background: #C4D5E2;
    }
     div.widget_categories li:hover {
      background: linear-gradient(#04ACEC, #0186BA) repeat scroll 0 0 transparent;
      background:#628BAF;
     }
}