
    div.widget_categories li:hover {
     background:none repeat 0 0 red; 
padding-bottom: 0.7em;
padding-top:0.7em;
margin-top: 0.7em;
padding: 0.7em 0 0.7em 0;
width: 100%;
    }

ul#nav {
	position:relative;
	top:300px
}
ul#nav, ul#nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
ul#nav {
	width:396px;
	margin:auto;
}
ul#nav li {
	position: relative;
	float: left;
	width:98px;
	height:30px;
	line-height:30px;
}
#nav li ul {
	position: absolute;
	left: 0;
	bottom:30px;
	margin-left:-999em;
}
#nav li ul ul {
	position: absolute;
	left:100%;
	bottom: 0;
}
/* Styles for Menu Items */
ul#nav li a {
	display:block;
	text-decoration: none;
	color: #000;
	height:30px;
	line-height:30px;
	width:98px;
	text-align:center;
	background:url(images/egrave.jpg) no-repeat 0 0;
}
ul#nav li li {
	clear:left
}
/* this sets all hovered lists to red and current item */
#nav li.current a, #nav li:hover a, #nav li.over a, #nav li:hover li:hover a, #nav li.over li.over a, #nav li:hover li:hover li:hover a, #nav li.over li.over li.over a, #nav li:hover li a:hover, #nav li.over li a:hover, #nav li:hover li:hover li:hover a:hover, #nav li.over li li a:hover, #nav li:hover li:hover li:hover li:hover a:hover, #nav li.over li.over li.over li.over a:hover {
	color: red;
	background-position:0 -30px
}
/* set dropdown to default */
#nav li:hover li a, #nav li.over li a, #nav li:hover li:hover li a, #nav li.over li.over li a, #nav li:hover li:hover li:hover li a, #nav li.over li.over li.over li a {
	color: #000;
	background-position:0 0;
}
ul#nav li:hover ul ul, ul#nav li:hover ul ul ul, ul#nav li.over ul ul, ul#nav li.over ul ul ul {
	margin-left:-999em;
}
ul#nav li:hover ul, ul#nav li li:hover ul, ul#nav li li li:hover ul, ul#nav li.over ul, ul#nav li li.over ul, ul#nav li li li.over ul {
	margin-left:0;
}
