/* 
    Document   : newCascadeStyleSheet
    Created on : 10.10.2012, 12:40:57
    Author     : unrz270
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

